certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
contourpy==1.1.1
cycler==0.12.1
fonttools==4.57.0
imageio==2.35.1
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
networkx==3.1
numpy==1.20.1
opencv-python==4.11.0.86
packaging==25.0
pandas==1.2.3
Pillow==8.1.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.4.1
scikit-image==0.18.1
scipy==1.10.1
six==1.17.0
tifffile==2023.7.10
torch==1.7.1
typing_extensions==4.13.2
wincertstore==0.2
zipp==3.20.2
